
footer {
  text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
  width: 100%;
}
.article1
{
  width: 75%;
  text-align:left;
  line-height: 35px;
  word-spacing: 2px;
  text-indent: 2em;
  margin-left: 15%;
  
  
  
}
.article1 p{
  grid-column: 1/span 2;
    grid-row: 4;
    font-size: 1.6em;
    font-weight: 400;
    color: #2c2c2c;
    font-family: Inter,sans-serif;
    letter-spacing: -.3px;
    line-height: 1.4;
    margin-bottom: 1.75rem;
    
}
.latest
{
  text-align: center;
  
  
<<<<<<< HEAD
=======
}
img
{
  width: 100%;
  max-width: 100%;
  height: auto;
}

* {
  box-sizing:border-box;
}

.left {
  background-color:#2196F3;
  padding:20px;
  float:left;
  width:20%; /* The width is 20%, by default */
}

.main {
  background-color:#f1f1f1;
  padding:20px;
  float:left;
  width:60%; /* The width is 60%, by default */
}

.right {
  background-color:#4CAF50;
  padding:20px;
  float:left;
  width:20%; /* The width is 20%, by default */
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
  .left, .main, .right {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
>>>>>>> responsive_website
}